body{
    background-image: linear-gradient(circle at top left, dimgrey, black 50%);
}

/* [class*="col"]{
    padding: 1rem;
    border: 2px solid aquamarine;
    background-color: rgb(219, 241, 255);
    color: gray;
} */